<header class="main-header">
  <section class="brand">
    <span><%=brandName%></span>
  </section>
  <ul class="menu">
    <li><a href="#">Blog</a></li>
    <li>About Us</li>
    <li>Contact</li>
  </ul>
  <section>
    <button class="write-btn">
      <a href="/write-blog"
        >Write
        <i class="fa fa-edit"></i>
      </a>
    </button>
    <button class="write-btn">
      <a href="/login"
        >Login
        <i class="fa fa-user"></i>
      </a>
    </button>
  </section>
</header>
